.loading-container {
    height: 100vh;
    width: 100vw;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-wrapper {
    font-family: Satoshi-Bold, sans-serif;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    color: #977777;
    justify-content: center;
    align-items: center;
}

.loading-wrapper > * {
    margin: 20px;
}