@font-face {
  font-family: Satoshi-Bold;
  font-weight: bold;
  src: url("./assets/fonts/Satoshi/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: Satoshi-Regular;
  src: url("./assets/fonts/Satoshi/Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: Satoshi-Italic;
  src: url("./assets/fonts/Satoshi/Satoshi-Italic.woff") format("woff");
}

@font-face {
  font-family: Sonder;
  src: url("./assets/fonts/Sonder/SonderRegular.woff") format("woff");
}

body {
  margin: 0;
}
